#slideshow {
	height: 500px;
	width: 100%;
	border: 1px solid #000;
	position: relative;
}

.img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*background-position: 20% 70%;
    background-repeat: no-repeat;
	background-size: cover;*/
}

.arrow {
	height: 500px;
	width: 100px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	top: 0;
	z-index: 100;
}

#right {
	right: 0;
}

.glyphicon {
	color: white;
	opacity: 0.3;
	font-size: 4em;
	font-weight: 100;
	margin-top: 220px;
	border: 1px solid black;
}

/*#img--1 {
	background-image: url("images/chica.jpg");
}

#img--2 {
	background-image: url("images/sand.jpg");
}

#img--3 {
	background-image: url("images/snow.jpg");
}

#img--4 {
	background-image: url("images/water.jpg");
}*/
figure {
	height: 100%;
	width: 100%;
}

img {
	max-height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 20% 60%;
	/*object-position: 20 100;*/
}

figcaption {
	text-align: center;
}
